body {
    display: flex;  
    flex-direction: column;
    font-family: 'Roboto';
}

/* Top Section*/
.top {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #1F2937;
    padding: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.header div {
    font-size: 24px;
    font-weight: bolder ;
    color: #F9FAF8;
}

.header li {
    font-size: 18px;
    color: #E5E7EB
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 70px 0px;
}

.top-content .image {
    text-align: center;
    font-size: 18px;
    height: 200px;
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex: 1 1 600px;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    color: #F9FAF8;
}

.top-content .text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;

}

.top-content .text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.top-content .text button {
    margin-top: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
}

/* Top-Mid Section */
.top-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 175px;
    margin-bottom: 100px;
}

.top-mid h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.top-mid .container {
    display: flex;
    text-align: center;
    gap: 50px;
}

.top-mid .container img {
    width: 150px;
    height: 150px;
    border: solid;
    border-color: #3882F6;
    border-radius: 12px;
}

.top-mid .container p {
    margin: 0;
    padding-top: 5px;
    color: #6D747D;
    font-size: 18px;
    max-width: 300px;

}

/* Bot-Mid Section */
.bot-mid {
    display: flex;
    flex-direction: column;
    padding: 100px 175px;
    background-color: #E5E7EB;
}

.bot-mid .quote {
    font-size: 36px;
    font-style: italic;
    color: #6D747D;
    margin: 0px;
}

.bot-mid .author {
    margin: 0px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}